In [0]:
from sklearn.datasets import fetch_20newsgroups
newsgroups_dataset = fetch_20newsgroups(subset='train')

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
phi = vectorizer.fit_transform(newsgroups_dataset.data).transpose()
phi.shape

(130107, 11314)

In [0]:
import numpy as np
m = 130107
k = 100
theta = np.random.rand(m, k) 
theta,_= np.linalg.qr(theta)
phi_transpose = phi.transpose()

Applying PCA to transform the data matrix into 100 features

In [0]:
for i in range (1,30):
  temp = phi_transpose @ theta
  theta = phi @ temp
  theta,_ = np.linalg.qr(theta)

In [114]:
y = theta.transpose() @ phi
y.shape

(100, 11314)

In [0]:
from sklearn.mixture import GaussianMixture
Cluster_means = GaussianMixture(n_components = 20).fit(y.transpose()).means_
thetameans = theta @ Cluster_means.transpose()

In [0]:
Using GaussianMixture library of scikit learn to create 20 clusters

In [0]:
res = []
for i in range(0, 20):
    res.append(thetameans.transpose()[i].argsort()[-10:][::-1])

Taking top 10 words of each class from the mean vector

In [118]:
vocab = vectorizer.vocabulary_
vocab_keyvalue = {value : key for key, value in vocab.items()}
for i in range(0,20):
  temp = ""
  for j in range(0,10):
    temp+= vocab_keyvalue.get(res[i][j]) + ","
  print("Class :" + str(i) + " top words: " + temp + " ")

Class :0 top words: the,to,and,of,is,it,drive,edu,for,in,
Class :1 top words: the,of,to,and,that,is,in,god,you,it,
Class :2 top words: the,in,to,of,and,edu,team,game,he,is,
Class :3 top words: the,edu,to,of,for,and,it,in,is,you,
Class :4 top words: henry,toronto,zoo,spencer,zoology,the,of,to,edu,work,
Class :5 top words: the,to,of,and,for,is,it,windows,edu,in,
Class :6 top words: sandvik,kent,apple,newton,the,com,ksand,alink,and,that,
Class :7 top words: intercon,amanda,walker,clipper,systems,com,corporation,the,encryption,herndon,
Class :8 top words: keith,caltech,sgi,livesey,the,wpd,solntze,that,jon,morality,
Class :9 top words: the,he,to,of,in,and,edu,that,is,was,
Class :10 top words: the,israel,of,israeli,to,in,and,that,jews,is,
Class :11 top words: the,of,to,edu,in,that,is,and,you,it,
Class :12 top words: access,digex,the,pat,net,express,online,communications,com,prb,
Class :13 top words: pitt,geb,gordon,banks,the,cs,is,it,edu,cadre,
Class :14 top words: the,to,and,in,of,it,you,is,com,car,
Class :15 top words: columbia,gld,cunixb,cc,dare,gary,the,edu,to,of,
Class :16 top words: the,nasa,to,gov,space,of,in,and,is,for,
Class :17 top words: the,to,of,key,and,is,that,clipper,chip,encryption,
Class :18 top words: the,uk,to,of,is,ac,in,and,it,that,
Class :19 top words: the,to,of,that,and,in,is,you,it,for,

As we can see, the article and prepositions of the english dictionary are the top frequent words across all the classes. This is intuitive.